<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-3 col-xs-3 col-sm-12 footer__gw">
            <a href="http://new.globalwitness.org" title="Global Witness" target="_blank">
              <img class="img-responsive" src="./images/global-witness.png" alt="Global Witness" />
            </a>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-12">
            <h4>With support of</h4>
            <div class="row footer__logos">
              <div class="col-xs-3">
                <a href="http://www.ted.com/speakers/charmian_gooch" title="Ted" target="_blank">
                  <img class="img-responsive" src="./images/ted.png" alt="Ted" />
                </a>
              </div>
              <div class="col-xs-3">
                <a href="http://www.financialtransparency.org/" title="Financial Transparency Coalition" target="_blank">
                  <img class="img-responsive" src="./images/financial-transparency.png" alt="Financial Transparency Coalition" />
                </a>
              </div>
              <div class="col-xs-3">
                <a href="http://thefactcoalition.org/" title="FACT Coalition" target="_blank">
                  <img class="img-responsive" src="./images/fact.png" alt="FACT Coalition" />
                </a>
              </div>
              <div class="col-xs-3">
                <a href="https://okfn.org/" title="Open Knowledge Foundation" target="_blank">
                  <img class="img-responsive" src="./images/okf.png" alt="Open Knowledge Foundation" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">

          <div class="col-xs-3">
            <h4>About</h4>
            <ul class="list-unstyled">
              <li>
                <a ui-sref="about">
                  The Project
                </a>
              </li>
              <li>
                <a target="_blank" href="http://globalwitness.org/">
                  Global Witness
                </a>
              </li>
            </ul>
          </div>

          <div class="col-xs-3">
            <h4>Contact us</h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://twitter.com/Global_Witness" target="_blank" title="Global Witness on Twitter">
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/GlobalWitness" target="_blank" title="Global Witness on Facebook">
                  Facebook
                </a>
              </li>
              <li>
                <a ui-sref="feedback" title="Send us an email">
                  Feedback
                </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 text-right">
            <p>Built with <a href="https://www.detective.io/" target="_blank">detective.io</a> by <a href="http://jplusplus.org/paris-berlin" target="_blank">Journalism++</a></p>
            <div class="row">
              <div class="col-md-8">
                <a href="http://github.com/jplusplus/gw-greatripoffmap" target="_blank">
                  Get the code <br class="hidden-xs hidden-sm" />
                  on Github
                </a>
              </div>
              <div class="col-md-4 hidden-sm hidden-xs">
                <a href="https://www.detective.io/" target="_blank">
                  <img src="./images/detective.7fc4125a.svg" alt="Detective.io" class="img-responsive" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__license">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          Unless otherwise stated, © Global Witness 2014. Case studies available for download and re-use under Creative Commons Attribution-ShareAlike 3.0 Unported License.
          <img src="./images/cc.png" />
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          Global Witness is not responsible for the content of external sites.
        </div>
      </div>
    </div>
  </div>
</footer>
