<div class="container">
  <div class="page">
    <h2 class="page__title">About</h2>
    <a class="page__back-to-explore"
       title="Go back to the world view"
       ui-sref-opts="{reload: true}"
       ui-sref="explore({juridiction: null, with: null, view: 'companies'})">
      <span class="sr-only">Go back to the world view</span>
    </a>
    <div class="page__body">
      <p>
        <img src="http://www.globalwitness.org/anoncompaniesviz/charmian-gooch-at-ted2014.jpg" alt="In 2014, one of Global Witness&#39; founding directors, Charmian Gooch, won the annual $1 million TED prize for her campaigning to end anonymous company ownership" class="img-responsive">
      </p>
      <p>
        <b>What is an anonymous company owner?</b>
      </p>
      <p>
        Tax evaders, terrorists, drugs cartels and corrupt politicians don&#39;t want to keep their stolen assets in their own names. So what they typically do is create a company – or a series of companies nested one inside the other, like Russian dolls – which technically owns their assets. The company can open a bank account, it can buy a yacht or a mansion, and it can wire money around the world. And, importantly, it&#39;s immensely difficult – sometimes totally impossible – to link the company back to the person who really owns it.
      </p>
      <p>
        It is quick, easy and cheap to create an anonymous company. You can do it in places renowned for secrecy such as Caribbean islands but you can just as easily do it in places such as the US state of Delaware.
      </p>
      <p>
        Even in places that do make shareholder information public, it is often still easy to make the owners anonymous. This is done by making the shareholders be further companies registered somewhere that keeps their owners secret, or by registering the company in someone else&#39;s name, even that of a total stranger. Astonishingly, it&#39;s entirely legal to do this in the majority of countries, and there&#39;s an entire profession dedicated to providing such &#39;nominee&#39; services.
      </p>
      <p>
        Anonymous companies are the global getaway cars for crime, corruption and tax evasion. We can stop them by requiring the names of the people who ultimately own and control companies to be put in the public domain.
      </p>
      <p>
        <b>How successful is the campaign to end anonymous company ownership?</b>
      </p>
      <p>
        <a href="http://www.globalwitness.org">Global Witness</a> is campaigning for everyone to know who owns and controls companies so that they can no longer be used anonymously against the public good.
      </p>
      <p>
        Increasingly, decision makers in business and politics agree with us that this is an issue whose time has come. There has been a lot of progress since we started campaigning.
      </p>
      <ul>
        <li><a href="http://www.globalwitness.org/library/global-witness-welcomes-uk%E2%80%99s-historic-rollback-corporate-secrecy">The UK has become the world&#39;s first country to promise to put the names of the ultimate owners of companies into the public domain for all to see</a>. </li>
        <li><a href="http://www.globalwitness.org/library/beginning-end-corporate-secrecy-g8-strikes-blow-against-corruption-%E2%80%93-still-more-do">Other G8 leaders have taken some first steps to dealing with this problem</a>. </li>
        <li>The EU has begun debating whether or not to require all European companies to have to reveal who&#39;s behind them – <a href="http://www.globalwitness.org/library/european-parliament-votes-end-anonymous-shell-companies">something that MEPs are in favour of</a>.</li>
        <li>In the U.S., the Obama Administration has committed to push for legislation that would require meaningful disclosure of hidden company owners at the time the company is formed. There have been bipartisan bills pending in Congress since 2008 that would require American companies to disclose their ultimate owners when they incorporate and to keep that information up to date.</li>
      </ul>
      <p>
        In 2014, one of Global Witness&#39; founding directors, Charmian Gooch, won the annual $1 million TED prize for her work on this campaign, and has been <a href="http://www.bloomberg.com/news/2014-09-08/most-influential-50-are-the-bankers-investors-who-move-markets.html">listed by Bloomberg as one of the world&#39;s most 50 influential people in the business world</a>. Listen to her TED talk on corruption&#39;s hidden players <a href="https://www.ted.com/talks/charmian_gooch_meet_global_corruption_s_hidden_players?language=en">here</a> and her talk laying out her wish to end anonymous companies <a href="http://www.ted.com/talks/charmian_gooch_my_wish_to_launch_a_new_era_of_openness_in_business?language=en">here</a>.
      </p>
      <p>
        <b>Where can I find out more about the campaign to end anonymous company ownership</b>
      </p>
      <p>
        There are lots of resources on our <a href="http://www.globalwitness.org/node/8579/">campaign web page</a> about anonymous company ownership, ranging from introductory guides to in-depth investigative reports. For example:
      </p>
      <ul>
        <li>Read <a href="http://www.globalwitness.org/greatripoff/">our report</a> on how anonymous company owners in the US are ripping off innocent people and businesses across America.</li>
        <li>Watch our <a href="https://www.youtube.com/watch?v=B4Ym9yWh2VM&amp;feature=youtu.be">short film</a> about how a Mexican drugs cartel used an anonymous company to launder their cash.</li>
        <li>See our short <a href="http://www.youtube.com/watch?v=N1O97HZev7A">animation</a> that sets out the damage caused by anonymous company ownership</li>
        <li>Join <a href="https://www.facebook.com/EndAnonymousCompanies">our Facebook page</a> to receive updates about the campaign.</li>
        <li>Read our <a href="http://www.globalwitness.org/library/anonymous-companies-frequently-asked-questions">Frequently Asked Questions</a> for a guide to what anonymous companies are and why they&#39;re such a problem</li>
        <li>Confused about anonymous companies? Have a look at our short <a href="http://ideas.ted.com/2014/03/18/what-are-anonymous-companies-an-infographic/">graphic</a> explaining the problem</li>
        <li>Read our <a href="http://www.globalwitness.org/node/8579/">in-depth reports</a> about anonymous company ownership </li>
      </ul>
      <p>
        <b>What are other groups doing about anonymous company ownership?</b>
      </p>
      <p>
        There are many other organisations and individuals campaigning to end anonymous company ownership, including:
      </p>
      <ul>
        <li><a href="http://www.christianaid.org.uk/ActNow/trace-the-tax/index.aspx">Christian Aid</a></li>
        <li><a href="http://www.financialtransparency.org/">Financial Transparency Coalition</a></li>
        <li><a href="http://www.gfintegrity.org/issue/anonymous-companies/">Global Financial Integrity</a></li>
        <li><a href="http://www.one.org/international/policy/phantom-firms/">the ONE campaign</a></li>
        <li><a href="(https://opencorporates.com/">OpenCorporates</a>)</li>
        <li><a href="http://www.taxresearch.org.uk/Blog/richard-murphy/">Richard Murphy</a>, an accountant and noted authority on tax justice issues who regularly blogs on the issue of anonymous companies</li>
        <li>the <a href="http://www.taxjustice.net/topics/secrecy/">Tax Justice Network</a></li>
        <li><a href="http://www.transparency.org/whoweare/organisation">Transparency International</a>, and its <a href="http://www.transparency.org.uk/news-room/12-blog/1127-unmask-the-corrupt-launch">UK chapter</a></li>
      </ul>
      <p>
        <b>Who has supported the map?</b>
      </p>
      <p>
        This map was created with the support of the <a href="http://www.financialtransparency.org/">Financial Transparency Coalition</a>, the <a href="http://fact.gfintegrity.org/">FACT Coalition</a> and <a href="http://www.ted.com/participate/ted-prize/prize-winning-wishes/global-witness-charmian-gooch">TED</a>. <a href="https://okfn.org/">The Open Knowledge Foundation</a> provided technical support.
      </p>
    </div>
  </div>
</div>

