<div class="container">
  <div class="page">
    <h2 class="page__title">Contribute</h2>
    <a class="page__back-to-explore"
       title="Go back to the world view"
       ui-sref-opts="{reload: true}"
       ui-sref="explore({juridiction: null, with: null, view: 'companies'})">
      <span class="sr-only">Go back to the world view</span>
    </a>
    <div class="page__body">
      <img src="./images/russian-dolls.png" class="img-responsive" /><br />
      <p>Do you have a story about anonymous shell companies involved in crime that you would like to appear on this map?</p>

      <p>If so, please send your story to Global Witness to greatripoff@globalwitness.org citing relevant sources. <br />
      We cannot guarantee that all stories sent to us will be featured, but we will endeavour to respond to all people who send us contributions.</p>
    </div>
  </div>
</div>
