<div class="container">
  <div class="page">
    <h2 class="page__title">Feedback</h2>
    <a class="page__back-to-explore"
       title="Go back to the world view"
       ui-sref-opts="{reload: true}"
       ui-sref="explore({juridiction: null, with: null, view: 'companies'})">
      <span class="sr-only">Go back to the world view</span>
    </a>
    <div class="page__body">
      <p>We’re constantly improving this website. Let us know your experience
      and suggestions for improvements by emailing
      <a href="mailto:thegreatripoff@globalwitness.org">thegreatripoff@globalwitness.org</a>.</p>
      <p>If you’re a developer and would like to re-use the source code,
      it’s available <a href="https://github.com/jplusplus/gw-greatripoffmap" target="_blank">here</a> under the LGPL-v3 open license.</p>
    </div>
  </div>
</div>
